<h1>Tasks Index</h1>
<h2>Hello, <%= current_user %></h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <a href="/tasks/<%= task.id %>"><%= task.content %></a>
      <ul>
        <form action="<%= "/tasks/#{task.id}" %>" method='POST'>
          <input type='hidden' name='_method' value='PATCH'>
            <input
              type='hidden'
              name='task[complete]'
              value='<%= task.complete? ? 0 : 1 %>'>
            <input
              type='submit'
              value='<%= task.complete? ? 'Undo done!' : 'Mark complete!' %>'>
        </form>
      </ul>
    </li>
  <% end %>
</ul>

<div><a href='/tasks/new'>Create New Task</a></div>
<form action='/session' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='Sign Out'>
</form>
