<div class='notepad'>
  <div class='task-form-container'>
    <form action='/tasks' method='POST' id='task-form'>
      <input type='hidden' name='task[complete]' value='0'>
      <input
        type='text'
        name='task[content]'
        placeholder='What do you need to do, <%= current_user %>?'
        autofocus id='task-content'>
    </form>
  </div>
  <ul class='tasks-list'>
    <% @tasks.each do |task| %>
      <li class='group'>
        <form class='task-complete-toggle' action="<%= "/tasks/#{task.id}" %>" method='POST'>
          <input type='hidden' name='_method' value='PATCH'>
          <input
            type='hidden'
            name='task[complete]'
            value='<%= task.complete? ? 0 : 1 %>'>
          <input
            type='image'
            src='<%= "public/complete-#{task.complete? ? 'on' : 'off'}.png" %>'>
        </form>

        <div class="task-container <%= task.complete? ? 'task-complete' : '' %>">
          <%= task.content %>
        </div>

        <form class='task-delete' action="<%= "/tasks/#{task.id}" %>" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='✕'>
        </form>
      </li>
    <% end %>
  </ul>
  <% unless @tasks.empty? %>
    <div class='tasks-footer group'>
      <div class='tasks-progress-bar' style='width:<%= @tasks_pct %>%;'></div>
      <div class='tasks-remaining-counter'>
        <%= @tasks_left %>
        <%= @tasks_left == 1 ? 'task' : 'tasks' %> left
      </div>
      <% if @tasks_done > 0 %>
        <form class='tasks-delete-completed-button' action="/tasks/complete" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='Delete complete'>
        </form>
      <% end %>
    </div>
  <% end %>
</div>

<footer class='index-footer'>
  <form action='/session' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Sign Out'>
  </form>
</footer>
